
<footer class="text-slate-100 flex justify-center h-20 w-full items-center shadow-inner shadow-slate-700 mb-0 mt-auto">
  <p><span class="font-bold text-center text-red-100 mt-5">Leonard Mbibi &nbsp; </span>Copyright © <%= new Date().getFullYear() %></p>
</footer> 
</body>
</html>